{% load i18n %}
{% load sentry_api %}
{% load crispy_forms_tags %}

<div class="align-center">
    <h3>Login</h3>
</div>
<div class="tab-content login-body">
    <div class="tab-pane{% if op == " login " %} active{% endif %}" id="login">
        <form class="form-stacked" action="" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="op" value="login" />
            {{ login_form|as_crispy_errors }}

            {% for field in login_form %}
            {{ field|as_crispy_field }}
            {% endfor %}
            <fieldset class="form-actions">
                <button type="submit" class="btn btn-success">{% trans "Login" %}</button>
                <a class="pull-right" style="margin-top: 9px" href="/sentry-account-recover">
                    {% trans "Lost your password?" %}
                </a>
            </fieldset>
        </form>
    </div>
</div>